@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";


:root{
  --primary: #FF014F;
  --pure:#FFFFFF;
  --mid-dark:#141414;
  --dark:#060606;
  --grayish: #3b3a3a;
}
*{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
a{
  text-decoration: none;
}
.heading-1{
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px var(--pure);
}

.hero-h{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
}